.swiper {
  overflow: visible !important;
  margin-bottom: 30px !important;
}

.swiper-button-prev,
.swiper-button-next {
  color: rgba(237, 244, 239, 0.475) !important;
}

.swiper-button-prev::after,
.swiper-button-next::after {
  font-size: 10px !important;
  font-weight: 900 !important;
  background-color: rgba(61, 62, 65, 0.454) !important;
  padding: 8px 10px !important;
  border-radius: 100% !important;
}

.swiper-button-next.swiper-button-disabled,
.swiper-button-prev.swiper-button-disabled {
  opacity: 0 !important;
}

.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
  bottom: -30px !important;
}

.swiper-pagination-bullet-active {
  background-color: #81b29a !important;
}
